#missatge{
    display: none;
}

#llistaMissatges{
    margin-top: 20px;
    height: 500px;
    overflow-y: scroll;
    background-color: cadetblue;
}

#missatgeInput{
    width: 100%;
}

.msg{
    background-color: aquamarine;
    word-wrap: break-word;
}